# **Brain and Cognitive Society, IIT Kanpur**
## **Introduction to Deep Learning Workshop**
**This python notebook is an assingment on ML/DL**

In this assingment you will solve a **regression** problem of predicting House prices using basic python libraries, and build a **neural network** for handwritten digit identification using **TensorFlow**

## **Linear Regression**
We will use Linear regression for predicting house prices

We are using a Kaggle dataset- https://www.kaggle.com/harlfoxem/housesalesprediction

In [13]:
# Lets import required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

### **Dataset Preparation**

In [4]:
# Execute this cell for loading dataset in a pandas dataframe

from IPython.display import clear_output
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct' -O Linear_regression_dataset

data_df = pd.read_csv("Linear_regression_dataset")

--2023-06-05 21:59:40--  https://docs.google.com/uc?export=download&id=16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct
Resolving docs.google.com (docs.google.com)... 142.250.200.238
Connecting to docs.google.com (docs.google.com)|142.250.200.238|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-14-3o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hta5sah2dcmt2lt0od5mbtbunm7q9350/1685982525000/17346214133729595847/*/16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct?e=download&uuid=2cf2fcc5-4049-4553-b75a-d9093e8be4c4 [following]
Warning: wildcards not supported in HTTP.
--2023-06-05 21:59:43--  https://doc-14-3o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hta5sah2dcmt2lt0od5mbtbunm7q9350/1685982525000/17346214133729595847/*/16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct?e=download&uuid=2cf2fcc5-4049-4553-b75a-d9093e8be4c4
Resolving doc-14-3o-docs.googleusercontent.com (doc-14-3o-docs.googleusercontent.com)... 142.250.200.225
Connecting to doc-14-3o-docs.googleusercontent.com (doc-14-3o-docs.googleusercontent.com)|142.250.200.225|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2515206 (2.4M) [text/csv]
Saving to: 'Linear_regression_dataset'

Linear_regression_d 100%[===================>]   2.40M  1.56MB/s    in 1.5s

2023-06-05 21:59:47 (1.56 MB/s) - 'Linear_regression_dataset' saved [2515206/2515206]

In [5]:
# Lets have a quick Look at dataset

print("(No of rows, No of Columns) = ",data_df.shape)
data_df.head()

(No of rows, No of Columns) =  (21613, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

So there are **19** features (of course we will not use id as feature :) ), and 1 variable to predict(price)

But note that the **date** column contain strings so first we will remove T00.. part from it and than convert it to numpy array.

In [6]:
data_df['date'] = data_df['date'].str.replace('T000000','')                 # Remove T000000 part from data column. Hint: search about .str.replace() method. :) 
data_df['date'] = data_df['date'].astype(int)                  
data_df2 = data_df.drop(['id'],axis = 1)
data_array = np.array(data_df2)                                              # Create a numpy array which does not have "id" field
assert (data_array.shape == (21613,20))
data_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Now the next task is **normalization**.

We will scale each column of dataset by x -> (x-u)/s

where u is mean(x), and s is standard deviation of u

In [7]:
mean = np.array(data_array.mean(axis=0))                                # this should be an array, each entry should be mean of a column
sd = np.array(data_array.std(axis=0))                                    # this should be an array, each entry should be standard deviation of a column

data_array_norm = (data_array - mean)/sd

print(data_array_norm.shape)

(21613, 20)

The last step is to make train and test dataset and to create seperate vector for price

In [8]:
labels = data_df['price']                                                                                                            # extract the price column from data

x_array_norm = np.delete(data_array_norm,1,1)                                                                                                    # delete the price column from data_array_norm. Hint: use np.delete()

x_train, x_test, y_train, y_test = train_test_split(x_array_norm,labels,test_size=0.15,random_state=42,shuffle=True)    # splitting data into test and train set.

print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(18371, 19) (3242, 19) (18371,) (3242,)

### **Loss and gradient descent**
We will use mean squared error(MSE) as loss

Use the gradient descent algorithm which you learned from tutorials

Your task is to complete the following functions

In [9]:
def loss(y_pred,y_true):
  """
  input:
  y_pred = [array] predicted value of y
  y_true = [array] ground truth
  
  output:
  mse: [scalar] the MES loss
  """
  mse = np.mean((y_true - y_pred)**2)                    # fill code here

  return mse

In [10]:
def y(x,a,b):
  """
  This function should return predicted value of y = ax+b
  input:
  x: [array] the feature vector of shape (m,n)
  a: [array] weights of shape (n,)
  b: [scalar] bias
  
  output:
  y_pred: [array] predicted value of y of shape (m,)
  """

  m,n = x.shape
  y_pred = np.dot(x, a) + b                   # fill code here

  assert(y_pred.shape == (m,))
  return y_pred

In [11]:
def gradient(x,a,b,y_true):
  """
  This function shoud return gradient of loss
  input:
  x: [array] the feature vector of shape (m,n)
  a: [array] weights of shape (n,)
  b: [scalar] bias
  y_true: [array] ground truth of shape (m,)

  output:
  grad: [tuple] a tuple (derivative with respect to a[array of shape(n,)], derivative with respect to b[scalar])
  """
  m,n = x.shape
  yp = y(x,a,b)

  da =  (2/m)* np.sum(np.multiply(x,(yp-y_true)[:,np.newaxis]),axis=0)           # write code to calculate derivative of loss with respect to a
  db = (2/m) * np.sum((yp - y_true))              # write code to calculate derivative of loss with respect to b

  assert(da.shape ==(n,))
  return (da,db)

In [14]:
def gradient_descent(x,y_true,learning_rate=0.01,epochs = 10):
  """
  This function perfroms gradient descent and minimizes loss
  input:
  x: [array] the feature vector of shape (m,n)
  y_true: [array] ground truth of shape (m,)
  
  output:
  loss: [array] of size (epochs,)
  weights: [tuple] (a,b)
  """
  m,n = x.shape
  loss_mse = []                                 # initialize empty list to store loss
  a = np.zeros((n,))                                 # initialize a- weights and b- bias
  b = 0

  for i in range(epochs):
    # calculate derivative using gradient() function
    # apply gradient descent now to update a and b
    da, db = gradient(x,a,b,y_true)
    yp = y(x,a,b)
    # updating 
    a = a-learning_rate * da
    b = b-learning_rate * db
    l_mse = loss(yp,y_true)                                # calculate loss at this point
    loss_mse.append(l_mse)

    print("Epoch ",i+1," Completed!","loss = ",l_mse)
  
  print("Training completed!!")

  assert(a.shape==(n,))

  return (loss_mse,a,b)

### **Training**

In [15]:
epochs = 100           # tweak this!!!
learn_rate = 0.001     # choose learning rate wisely otherwise loss may diverge!!

train_loss,a,b= gradient_descent(x_train,y_train,learn_rate,epochs)

Epoch  1  Completed! loss =  421333293468.0863
Epoch  2  Completed! loss =  418853998372.9397
Epoch  3  Completed! loss =  416403127265.34235
Epoch  4  Completed! loss =  413980195388.2227
Epoch  5  Completed! loss =  411584727500.5148
Epoch  6  Completed! loss =  409216257683.0663
Epoch  7  Completed! loss =  406874329148.53656
Epoch  8  Completed! loss =  404558494055.2399
Epoch  9  Completed! loss =  402268313324.80725
Epoch  10  Completed! loss =  400003356463.6204
Epoch  11  Completed! loss =  397763201387.9137
Epoch  12  Completed! loss =  395547434252.4854
Epoch  13  Completed! loss =  393355649282.9323
Epoch  14  Completed! loss =  391187448611.3546
Epoch  15  Completed! loss =  389042442115.42444
Epoch  16  Completed! loss =  386920247260.78925
Epoch  17  Completed! loss =  384820488946.7238
Epoch  18  Completed! loss =  382742799354.928
Epoch  19  Completed! loss =  380686817801.4823
Epoch  20  Completed! loss =  378652190591.8201
Epoch  21  Completed! loss =  376638570878.6944
Epoch  22  Completed! loss =  374645618523.0935
Epoch  23  Completed! loss =  372672999957.97156
Epoch  24  Completed! loss =  370720388054.83575
Epoch  25  Completed! loss =  368787461993.03296
Epoch  26  Completed! loss =  366873907131.77057
Epoch  27  Completed! loss =  364979414884.73737
Epoch  28  Completed! loss =  363103682597.3206
Epoch  29  Completed! loss =  361246413426.3532
Epoch  30  Completed! loss =  359407316222.3173
Epoch  31  Completed! loss =  357586105413.98285
Epoch  32  Completed! loss =  355782500895.43085
Epoch  33  Completed! loss =  353996227915.37665
Epoch  34  Completed! loss =  352227016968.78577
Epoch  35  Completed! loss =  350474603690.7154
Epoch  36  Completed! loss =  348738728752.3312
Epoch  37  Completed! loss =  347019137759.0831
Epoch  38  Completed! loss =  345315581150.93713
Epoch  39  Completed! loss =  343627814104.69714
Epoch  40  Completed! loss =  341955596438.3143
Epoch  41  Completed! loss =  340298692517.1668
Epoch  42  Completed! loss =  338656871162.26105
Epoch  43  Completed! loss =  337029905560.3353
Epoch  44  Completed! loss =  335417573175.77167
Epoch  45  Completed! loss =  333819655664.3859
Epoch  46  Completed! loss =  332235938788.9026
Epoch  47  Completed! loss =  330666212336.23914
Epoch  48  Completed! loss =  329110270036.4502
Epoch  49  Completed! loss =  327567909483.342
Epoch  50  Completed! loss =  326038932056.72833
Epoch  51  Completed! loss =  324523142846.2613
Epoch  52  Completed! loss =  323020350576.8573
Epoch  53  Completed! loss =  321530367535.611
Epoch  54  Completed! loss =  320053009500.2497
Epoch  55  Completed! loss =  318588095669.0355
Epoch  56  Completed! loss =  317135448592.09314
Epoch  57  Completed! loss =  315694894104.1901
Epoch  58  Completed! loss =  314266261258.8414
Epoch  59  Completed! loss =  312849382263.7976
Epoch  60  Completed! loss =  311444092417.8558
Epoch  61  Completed! loss =  310050230048.9464
Epoch  62  Completed! loss =  308667636453.52106
Epoch  63  Completed! loss =  307296155837.1398
Epoch  64  Completed! loss =  305935635256.3102
Epoch  65  Completed! loss =  304585924561.5184
Epoch  66  Completed! loss =  303246876341.3934
Epoch  67  Completed! loss =  301918345868.0515
Epoch  68  Completed! loss =  300600191043.5423
Epoch  69  Completed! loss =  299292272347.3899
Epoch  70  Completed! loss =  297994452785.22394
Epoch  71  Completed! loss =  296706597838.4376
Epoch  72  Completed! loss =  295428575414.90314
Epoch  73  Completed! loss =  294160255800.66187
Epoch  74  Completed! loss =  292901511612.6505
Epoch  75  Completed! loss =  291652217752.33234
Epoch  76  Completed! loss =  290412251360.345
Epoch  77  Completed! loss =  289181491772.011
Epoch  78  Completed! loss =  287959820473.81305
Epoch  79  Completed! loss =  286747121060.70966
Epoch  80  Completed! loss =  285543279194.37823
Epoch  81  Completed! loss =  284348182562.2445
Epoch  82  Completed! loss =  283161720837.4115
Epoch  83  Completed! loss =  281983785639.3711
Epoch  84  Completed! loss =  280814270495.52277
Epoch  85  Completed! loss =  279653070803.4988
Epoch  86  Completed! loss =  278500083794.20844
Epoch  87  Completed! loss =  277355208495.71173
Epoch  88  Completed! loss =  276218345697.7571
Epoch  89  Completed! loss =  275089397917.0869
Epoch  90  Completed! loss =  273968269363.43542
Epoch  91  Completed! loss =  272854865906.2181
Epoch  92  Completed! loss =  271749095041.90604
Epoch  93  Completed! loss =  270650865862.07605
Epoch  94  Completed! loss =  269560089022.07043
Epoch  95  Completed! loss =  268476676710.35065
Epoch  96  Completed! loss =  267400542618.43622
Epoch  97  Completed! loss =  266331601911.46747
Epoch  98  Completed! loss =  265269771199.37152
Epoch  99  Completed! loss =  264214968508.60754
Epoch  100  Completed! loss =  263167113254.49637
Training completed!!

/var/folders/rm/psh86dn96ss_b4khvkydrgq80000gn/T/ipykernel_20761/1963601796.py:16: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  da =  (2/m)* np.sum(np.multiply(x,(yp-y_true)[:,np.newaxis]),axis=0)           # write code to calculate derivative of loss with respect to a

### **Evaluation and Visualization**
Lets plot how loss varies with epochs

In [ ]:
test_loss = loss(y(x_train,a,b),y_train)

print("Loss on test data = ",test_loss)

# Visualization of loss

plt.plot(epochs,test_loss)                   # plot loss versus epochs
plt.title("Training Loss")
plt.xlabel("Epochs")
plt.ylabel("Loss")
plt.show()

## **Deep Learning**
In this section We will build a simple multilayer perceptron network(**MLP**) in TensorFlow

In [ ]:
# Lets import the required libraries
import numpy as np
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt

### **Load Dataset**
We will be using MNIST dataset of handwritten digits

Just run the cell below to load dataset

In [ ]:
mnist = keras.datasets.mnist
(x_train, y_train), (x_test, y_test) = mnist.load_data()
print("No. of training examples = ",x_train.shape[0])
print("Size of each image in dataset = ",x_train.shape[1:])
print("No. of test examples = ",x_test.shape[0])

In [ ]:
# Run this cell to visualize some of the images from dataset

n = 5    # = no. of images to visualize

index = np.random.choice(x_train.shape[0],5)  # choose random index
print("label: ",end="")

for i,ind in enumerate(index):
    plt.subplot(1,n,i+1)
    plt.imshow(x_train[ind],cmap="gray")
    plt.axis("off")
    print(y_train[ind],end="       ")

plt.show()

#### Preprocess dataset
Since we are building a MLP model the input to the model should be a vector rather than a 28 by 28 matrix.

So your **First Task** is to flatten the images

(Hint: use *reshape()* method of arrays...)

Next, create validation dataset out of training dataset.

You can use 50K images for training and 10K for validation

In [ ]:
# Flatten the images into 1-d vectors

x_train_flatten = x_train.reshape((x_train.shape[0], 28, 28, 1))                               # flatten the images of training set 
x_test_flatten = x_test.reshape((x_test.shape[0], 28, 28, 1))                                        # flatten th eimages of test set


# Divide the training data into training and validation data....

n_validation = 10000                                        # choose number of images to be used for validation

x_validation = 50000
y_validation = 10000

x_train_flatten = 
y_train =

### **Build a model**
You can choose whatever architechure you want, but ensure that it is **not too deep** as that will take too much time to train and **not too shallow** as that will give very low accuracy.

In [ ]:
model = keras.models.Sequential([
    ...
])

# Make a graphical representation of the model...
keras.utils.plot_model(model,show_shapes=True)
model.summary

#### Compile and Train
Choose an optimizer- method that minimizes loss function

**adam** optimizer is one of the popular choices. You should read about these online

In [ ]:
model.compile(optimizer="...",loss = "...",metrics=["accuracy"])

n_epochs = ...              # set number of epochs
batch_size = 512            # you can tweak with these parametrs
history = model.fit(...)

### **Evaluate**
Evaluate your model on test data.

And Show some results

In [ ]:
results = model.evaluate(...)
print("Loss = ",results[0])
print("Accuracy = ",results[1]*100,"%")

# Plot Accuracy...
plt.plot(..., label="Training accuracy")
plt.plot(..., label="validation Accuracy")
plt.title("Model accuracy")
plt.xlabel("Epochs")
plt.ylabel("Accuracy")
plt.legend()
plt.show()

# Similarly write code to plot loss...
...

Lets show our results on images from testing dataset

In [ ]:
n = ...   # = no. of images to see predictions on

index = np.random.choice(...)  # choose random index from test data
print("label: ")

for i,ind in enumerate(index):
    plt.subplot(1,n,i+1)
    plt.imshow(...)             # fill code to show images from test set
    plt.axis("off")
    print(y_test[ind],end="       ")

plt.show()
print("Predicted value: ")

# Now lets print the predictions

for i,ind in enumerate(index):
    # write code to predict and print digit in image
    # Hint: the output of the model is a 10-d vector which gives probabilties
    # The digit in the image would be the class for which probability is hghest...

    digit = ...
    print(digit,end="      ")

That's it you have completed the assignment !!

We hope that you learned something from this exercise

### Credits:

**Leaders:**

Mohit Kulkarni

Shivanshu Tyagi

**Scretaries:**

Sahil Bansal

Shashwat Gupta

Rashmi Sharma